* {
  font-family: Lato;
}
ul {
  margin: 25px;
  padding: 0;
}
ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}
ul li:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.section-list {
  margin: 0;
  padding-left: 1.25rem;
}

.section-list li {
  list-style: disc;
  border: none;
  padding: 4px 0;
}